:root {
  --primary: purple ;
  --textc: white;

}
body {
 height: fit-content;
 text-align: center;
 padding-top: 5rem;
 font-size: 1.2em;
}
h2 {
  font-size: 3em;
}
header {
  height: fit-content;
}
.buttonend {
margin-top: 2em;
padding: 0.75em;
background-color: var(--primary);
color: var(--textc);
font-size: 1em;
}
.answers{
  
  list-style: none;
  justify-content: left;
  color: var(--textc);
  margin-left: auto;
  margin-right: auto;
  width: 10em;

}
